<div class="home__values">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 values__table">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="head__item"> Nome </th>
          <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
        </ng-container>

        <ng-container matColumnDef="high">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="head__item"> Alta (R$) </th>
          <td mat-cell *matCellDef="let element"> {{ element.high.toFixed(2) }} </td>
        </ng-container>
      
        <ng-container matColumnDef="low">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="head__item"> Baixa (R$) </th>
          <td mat-cell *matCellDef="let element"> {{ element.low.toFixed(2) }} </td>
        </ng-container>

        <ng-container matColumnDef="var">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="head__item"> Variação (%) </th>
          <td mat-cell *matCellDef="let element"> {{ element.var.toFixed(2) }} </td>
        </ng-container>
      
        <tr class="table__head" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="table__line" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>